*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# jazz files
.jazzignore
convert_RTC_SDK_to_p2_repo.bat

# eclipse files
.settings/
.classpath
.project

# idea files
.idea
*.iml
target/

# artifactory fix until we can deploy to maven central
distribution_management_artifactory.txt
readme.html
